*
!.gitignore
!.changie.yaml
!CHANGELOG.md
!README.md
!src/
!src/**
!.github/
!.github/**
!.changes
!.changes/**
!scripts/
!scripts/**
scripts/**/node_modules/
scripts/**/node_modules/**
!.cursor/
!.cursor/environment.json
!.cursor/rules/
!.cursor/rules/**
